<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>How's My Blogging</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Dashboard</li>
                    {{#if loggedIn}}
                    <li>Logout</li>
                    {{else}}
                    <li>Login</li>
                    {{/if}}
                </ul>
            </nav>
            <h1>
                <a href="/">How's My Blogging</a>
            </h1>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            <p>&copy; Devmadia</p>
        </footer>
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        {{/if}} 	    
    </div>
</body>

</html>